{margin : 0px; padding: 0px;}
h1 { font: bold 20px verdana , sans serif; }
h2 { font: bold 14px verdana , sans serif; }

header, section, footer, aside,nav, article, figure,
figcaption , hgroup { display: block;}

body { text align: center; }

#wrapper {
	width: 960px;
	margin: 15px auto;
	text-align: left;
}

#main_header{
	background: #141414;
	border: 1px solid #99999;
	padding:20px;
	font-size : 30px;  
	font-color: #d32f2f;
}

#main_menu{background: #141414; padding:5px 15px;}

#main_menu li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px verdana , sans serif;
}

#main_section{float: left; width: 670px; margin:0px;}

#main_aside{float:left; width: 220px; margin:20px 0px; padding: 10px; background: #CCCCCC;}

#main_footer{clear:both; text-align: center; padding:20px; border-top:2px solid #999999;}

article { background: white; border: 1px solid
#999999; padding: 20px; margin bottom: 15px; }

article footer { text align: right; }

time { color: #999999; }

figcaption { font: italic 14px verdana , sans serif; }

body {background-color: #141414;}


input.img-button {
        background: url( "https://postfiles.pstatic.net/MjAxOTExMTVfMTEz/MDAxNTczODI5NTM2MzA3.E2Dgqfg4PAMFL57cPJ_1u7f1egEIEakx5U4J7IyZpXEg.LMiNDHgr8HEj9bq3QA9rQPFC9YZzzGLb6i_xi8X9TFsg.PNG.dellintel17/%EB%B9%88%ED%95%98%ED%8A%B8.png?type=w966" ) no-repeat;
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

