{margin : 0px; padding: 0px;}
h1 { font: bold 20px verdana , sans serif; }
h2 { font: bold 14px verdana , sans serif; }

header, section, footer, aside,nav, article, figure,
figcaption , hgroup { display: block;}

html, body, div, span,li, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, time, figure, article, nav, header, footer, hgroup, video, audio, aside, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: 0; */
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

body {
    font-size: 15px;
    font-family: 'CoreGTE', sans-serif;
    background: #f1efeb;
}

body { text align: center; }

<!--커피 베낌-->
@media (max-width: 1750px)

.header_inner {
    max-width: inherit;
}


#header {
    width: 100%;
    height: 173px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: #f1efeb;

}

.header_top{

	float: right;
    text-align: right;
    line-height: 40px;
}
.header_inner {
    max-width: 1695px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#logo {
    display: block;
    height: auto;
    padding: 35px 0 10px;
    text-align: center;
    
}

#menu {
    display: block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

ol, ul {
    list-style: none;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol:after, ul:after {
    content: '';
    clear: both;
    display: table;
}

::selection {
    background: #6f6a61;
    background: rgba(111, 106, 97, .35);
    color: #fff;
}

@media (max-width: 1023px)
.menu_container {
    display: none;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    padding: 45px 0 0 0;
    z-index: 650;
    background: #222;
    overflow-y: scroll;
}


@media (max-width: 1023px)
.menu_container {
    display: none;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    padding: 45px 0 0 0;
    z-index: 650;
    background: #222;
    overflow-y: scroll;
}

.menu_container {
    display: block;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 10px 0;
}


#menu > li {
    width: 100%;
    display: block;
}

#menu > li {
    display: inline-block;
    width: 20%;
}


#menu li {
    position: relative;
}

@media (max-width: 1023px)
#menu > li > a {
    padding: 11px 0 11px 15px;
    font-size: 14px;
    color: #f1efeb;
    border-top: 1px solid rgba(255, 255, 255, .1);

}

#menu > li > a {
    padding: 12px 0;
    position: relative;
    font-size: 15px;
    color: #222;

}

@media (max-width: 1023px)
#menu a {
    font-weight: 400;
    text-align: left;
}

#menu a {
    display: block;
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

a {
    font-size: 15px;
    color: #222;
    text-decoration: none;
    word-break: break-all;
}


@media (max-width: 1023px)
.main_container {
    min-height: inherit;
    padding-top: 90px;
    /* margin-bottom: 0; */
}

@media (max-width: 1440px)
.main_container {
    padding-top: 162px;
}

.main_container {
    min-height: 600px;
    padding-top: 173px;
    margin-bottom: 576px;
    position: relative;
    z-index: 10;
    background: #f1efeb;
}



@media (max-width: 1024px)
.main_section {
    padding: 7% 0;
}

@media (max-width: 1280px)
.main_section {
    margin: 0 3%;
}

.main_section {
    max-width: 1290px;
    margin: 0 auto;
    padding: 90px 0 100px;
}

.main_wrap{
	width: 100%;
  	position: absolute;
}

.main_search {
    padding: 115px 50px;
    width: 100%;
  	position: relative;
  	display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #D32F2F;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 0 0 0 0;
  outline: none;
  color: "black;
}

.searchType{
  width: 60px;
  height: 36px;
  border: 1px solid #D32F2F;
  background: #D32F2F;
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 13px;

  }


.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #D32F2F;
  background: #D32F2F;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}



article { background: white; border: 1px solid
#999999; padding: 20px; margin bottom: 15px; }

article footer { text align: right; }

time { color: #999999; }

figcaption { font: italic 14px verdana , sans serif; }

body {background-color: #f1efeb;}


input.img-button {
        background: url( "https://postfiles.pstatic.net/MjAxOTExMTVfMTEz/MDAxNTczODI5NTM2MzA3.E2Dgqfg4PAMFL57cPJ_1u7f1egEIEakx5U4J7IyZpXEg.LMiNDHgr8HEj9bq3QA9rQPFC9YZzzGLb6i_xi8X9TFsg.PNG.dellintel17/%EB%B9%88%ED%95%98%ED%8A%B8.png?type=w966" ) no-repeat;
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

